body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000; /* Change the background color here */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search button {
    background-color: #fff;
    color: #000; /* Change the button color here */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Add margin to content to prevent it from being hidden under the fixed navbar */
.content {
    margin-top: 60px;
}


/* card css */

.card-holder {
    display: flex;
    justify-content: space-evenly; /* Adjust as needed */
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    max-width: 300px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
}

.card-header {
    padding: 10px;
    background-color: #f0f0f0;
}

.card-header img {
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}
