/* Style for the navigation */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}


/* card css */

.card-holder {
    display: flex;
    justify-content: space-evenly; /* Adjust as needed */
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    max-width: 300px;
}

.card-header {
    padding: 10px;
    background-color: #f0f0f0;
}

.card-header img {
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}
