<!DOCTYPE html>
<html>
<head>
    <!-- htmx include library -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.6.0/dist/htmx.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/styles.css') }}">
<title>Page Title</title>
</head>
<body>
    <!-- Navigation Bar -->
    {% include "nav_bar.html" %}

    <!-- Page Content -->
    <div style="height: 100%; background-color: #f0f0f0;">
        <h1>Sample Page Content</h1>
        <p>This is the main content of your web page.</p>

        {% block character_card %}{% endblock %}
        
    </div>
</body>
</html>
